html, body{
    height: 100%;
}

#clock {
    font-family: 'Bungee Shade', cursive;
    font-size: 5em;
    text-align: center;
    color: #fff;
    background-color: blueviolet;
    position: relative;
    top: 50%;
    margin-top: -80px;
}
